@import "/src/variables.scss";
.div {
  position: relative;
  width: 100%;
  display: flex;
  background-color: $primary-color;
  border-radius: 10px;
  border: 1px solid $tertiary-color;
  padding: 0.75rem 1.25rem;
  > img {
    margin-right: 0.5rem;
  }
  > input {
    width: 100%;
    background-color: transparent;
    color: $light-color;
    border: none;
  }
  > .add_user_icon {
    cursor: pointer;
    border-radius: $border_radius5;
    padding: 0.3rem;
    &:hover {
      background-color: $tertiary_color;
    }
  }
  .search_menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 999;
  }
}
