@import "/src/variables.scss";
.div {
  .subdiv_buttons {
    display: flex;
    align-items: center;
    background-color: $secondary-color;
    border-radius: 12px;
    border: $border_style;
    padding: 0.3rem;
    margin-bottom: 2rem;
    > button {
      width: 50%;
      background-color: transparent;
      color: white;
      border: none;
      border-radius: 12px;
    }
    ._active {
      background-color: $primary-color;
    }
  }
}
