@import "/src/variables.scss";

.div {
  position: relative;
  .button {
    @include divStyle($primary-color, $tertiary-color);
  }
  .modal_icon {
    position: absolute;
    display: none;
    top: 3rem;
    right: 0rem;
    z-index: 999;
    .modal_div {
      width: 24.25rem;
      height: 42rem;
      background-color: $bg-primary;
      border: $border_style;
      border-radius: 16px;
      padding: 1rem;
      > h3 {
        margin-bottom: 2rem;
      }
      > div {
        margin-bottom: 1rem;
      }
    }
  }
  ._active {
    display: block;
  }
}
