@import "/src/variables.scss";

.ul {
  background-color: $bg-primary;
  color: white;
  border: $border_style;
  border-radius: $border_radius10;
  padding: 0.3rem;
  margin-left: 1rem !important;
  > li {
    padding: 0.5rem;
    &:hover {
      background: $hover-lists-active;
      border-radius: $border_radius5;
    }
  }
}
