@import "/src/variables.scss";
.button {
  width: 100%;
  border: none;
  border-radius: 12px;
  color: $light-color;
  padding: 0.75rem 0;
}

._light {
  background-color: $active-color;
}
._dark {
  background-color: $tertiary-color;
}
._warning {
  background-color: $warning-color;
}
