@import "/src/variables.scss";

.div {
  background-color: $secondary_color;
  border-radius: $border_radius10;
  .subdiv {
    padding: 0.5rem;
    > div {
      > span {
        display: flex;
        align-items: center;
        > img {
          margin-right: 0.5rem;
        }
      }
    }
  }
}
