@import "/src/variables.scss";

.div {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $fifth-color;
  color: $light-color;
  border: $border_style;
  border-radius: 100%;
}
