@import "/src/variables.scss";

.div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $secondary-color;
  padding: 2rem;
  .subdiv {
    display: flex;
    > div {
      margin-right: 1rem;
    }
  }
}
