@import "/src/variables.scss";
.div {
  .subdiv {
    cursor: pointer;
    border-radius: $border_radius10;
    padding: 1rem;
    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
      > div {
        display: flex;
        > img {
          margin-left: 0.5rem;
        }
      }
    }
  }
  .subdiv:hover {
    background-color: $quartet-color;
  }
}
